@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

*{margin: 0; padding: 0;}
.container{max-width: 1250px;}
h1{font-size: 32px;} h2{font-size: 26px;}
p{margin: 0; letter-spacing: 1.2px;}
 h1, h2, h3, h4, h5, h6, span{ font-family: 'Lato', sans-serif;}
body {background: #ecfffd; font-family: 'Nunito', sans-serif;}
p, ul, li{font-family: 'Nunito', sans-serif;}
li{letter-spacing: 1.2px;}
figure{margin: 0}
/* ==================== top sctrip ================= */
.top-strip{background: #282828; position: relative; padding: 7px;}
.top-strip .left-items{display: flex; color: #0081B4;}
.top-strip .left-items .items{display: flex; align-items: center;}
.top-strip .left-items .items a{color: #fff; padding: 0 10px 0 5px; text-decoration: none;}
.top-strip .left-items .items select{background: none; border: none; outline: none; color: #fff; margin-right: 10px;}
.top-strip .left-items .items img{max-height: 20px; vertical-align: text-bottom; margin: 0 4px 0 10px;}
.top-strip .right-items .top-calback{position: absolute; top: 3px; right: 6%;}
.top-strip .right-items .top-calback .bg-img img{max-width: 100%; height: 56px;}
.top-strip .right-items .top-calback .bg-img{position: relative;}
.top-strip .right-items .top-calback .bg-img .text{position: absolute; font-size: 14px; left: 50%; top: 40%; width: 100%; transform: translate(-50%, -55%); color: #282828; text-align: center; letter-spacing: -0.2px;}
.top-strip .right-items .top-calback .bg-img .text span{display: block; margin: -5px 0;}

/* ======================== header1 logo section=================== */
.header1 .items{display: flex; align-items: center; justify-content: space-between; padding: 10px 0;}
.header1 .items .form-item form, .header1 .items .mobile-form form{position: relative;}
.header1 .items .mobile-form{display: none;}
.header1 .items .form-item form input, .header1 .items .mobile-form form input{background: #fff; border: 1px solid #ccc; width: 400px; max-width: 400px; color: #787878;}
.header1 .items .form-item form button, .header1 .items .mobile-form form button{position: absolute; right: -82px; top: 10px; padding: 10px; border-radius: 0 30px 30px 0; border: none; outline: none; box-shadow: none; background: #0081B4;}
.header1 .items .login-item a{color: #333; font-size: 17px; padding:0 20px; text-decoration: none;}
.header1 .items .login-item a i{color: #0081B4;}
.header1 .mobile-log-items{display: none;}


/* ==================== Navition Section ============================ */
.navbar{padding: 0;}
.f-mobile-menu{display: none;}
.navbar .megamenu{ padding: 1rem; }
.navbar.navbar-expand-lg{ background: #0081B4;} 
.navbar-expand-lg .navbar-nav .dropdown-menu{max-width: 1150px; margin: auto; text-align: center;}
.nav-item{padding:4px 8px !important;}
.nav-link{color: #fff; font-size: 15px; font-family: 'Nunito', sans-serif; font-weight: 500; text-transform: uppercase; padding: 0;}
.nav-link:hover, .nav-link:active, .nav-link:focus{color: #fff;}
.navbar-nav{margin: auto; align-items: center;}
.navbar-brand img{max-width: 200px; height: 70px}
.dropdown-menu .col-megamenu h6{text-align: center; border-bottom: 1px solid #787878; padding: 0 0 12px 0;}
.dropdown-menu .col-megamenu li{border-bottom: 1px dotted #7788779c; padding: 12px 0; text-align: left;}
.dropdown-menu .col-megamenu li a{color: #333; text-decoration: none;}
.dropdown-menu .col-megamenu li a:hover{color: #0081B4;}
.dropdown-menu .col-megamenu li a i{margin-right: 10px;}
.navbar-nav .nav-item img{width: 150px;}
/* ============ desktop view ============ */
@media all and (min-width: 992px) {.navbar .has-megamenu{position:static!important;}
	.navbar .megamenu{left:0; right:0; width:100%; margin-top:0;}}	
/* ============ desktop view .end// ============ */
/* ============ mobile view ============ */
@media(max-width: 991px){
	.navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{ overflow-y: auto; max-height: 90vh; margin-top:10px;}
  button.navbar-toggler{background: #0081B4; color: #fff; display: flex; align-items: center; padding: 0px; width: 40px; height: 40px;}
  .navbar-collapse.show{border-top: 1px solid;}
  .navbar-toggler .navbar-toggler-icon{display: flex; align-items: center; justify-content: center; font-size: 30px;}}
/* ============ mobile view .end// ============ */

/* =================== Slider start =================== */
.slider-section{  background: url(../images/slider-bg.webp); padding: 15px 0;}
.slider-section .left-item h2 span{color: #ff9200; font-weight: 700; font-size: 40px;}
.slider-section .left-item h2, .slider-section .left-item h3 {color: #fff; font-size: 30px; }
.slider-section .left-item h3 .sentence2{color:#ff9200; font-weight: 700;}
.slider-section .right-item img{ border-radius: 10px; width: 100%;}

.slider-section .clicks{padding: 30px 0;}
.slider-section .clicks .plan{background: #0081B4; padding: 7px 20px; border-radius: 2px; border: 2px solid #0081B4; color: #fff; text-decoration: none; font-size: 20px; margin-right: 20px; transition: .7s all;}
.slider-section .clicks .plan:hover{background: #ff9200; border: 2px solid #ff9200;}
.slider-section .clicks .startfree{background: #fff; padding: 7px 20px; border-radius: 2px; border: 2px solid #0081B4; color: #0081B4; text-decoration: none; font-size: 20px; transition: .7s all;}
.slider-section .clicks .startfree:hover{border: 2px solid #ff9200; color: #ff9200;}
#carouselExampleFade button{display: none;}

/* ======================  Starting ========================== */
.start-website{margin: auto; text-align: center; max-width: 80%; padding: 30px 0;}
.start-website .heading span{color: #0081B4;}
.start-website .tittle{font-size: 17px; padding-top: 10px; text-align: justify;}

/* ===================== welcome-company ======================  */
.welcome-company { padding: 50px 0; background: url(../images/welcome-bg.webp); background-size: cover;background-repeat: no-repeat;  background-position: center;}
.welcome-company .left-items{position: relative; height: 400px;}
.welcome-company .left-items img{width: 100%; height: 100%; background:#def0fb;}
.welcome-company .left-items::before{width: 200px; height: 200px; border-left: 10px solid #0081B4; border-top: 10px solid #0081B4; content: ""; top: -10px; left:-10px; position: absolute; transition: .5s all ease-in-out; border-radius: 0 10px 0 10px;}
.welcome-company .left-items::after{width: 200px; height: 200px; border-right: 10px solid #ff9200; border-bottom: 10px solid #ff9200; content: ""; right: -10px; bottom:-10px; position: absolute; transition: .5s all ease-in-out;border-radius: 0 10px 0 10px;}
.welcome-company .right-items{padding: 25px 0;}
.welcome-company .right-items .name span{color: #0081B4; font-weight: 900; font-family: 'Nunito Sans', sans-serif;}
.welcome-company .right-items h2{font-weight: 800; font-size: 38px;}
.welcome-company .right-items .content{font-size: 18px; line-height: 1.6rem; padding-top: 10px}
 

 /* ===================== Services ================= */ 
 .services{text-align: center;  background: #0081B4;  padding: 40px 0; background-image: url(../images/hexagon.webp);}
 .services .heading {color: #fff; font-family: 'Nunito Sans', sans-serif; font-weight: 800; font-size:35px;}
 .services .text{font-size: 17px; color: #c1c1c1; font-weight: 600; margin-bottom: 20px;}
 .services .services-item{text-align: center; padding: 11px 0;}
 .services .services-item a{color: #fff; text-decoration: none;}
 .services .services-item .item{ padding: 30px 10px; height: 100%; border-radius: 0 20px 0 20px; background: #fff; color: #282828; transition: .5s all; box-shadow: 0 0 37px #28282828282837;}
 .services .services-item .item p{height: 100px; overflow: hidden;}
  .services .services-item .item img{max-height: 110px;}
 .services .services-item .item .name{text-transform: capitalize; padding: 15px 0 2px;}
 .services .services-item .item:hover{opacity: .8; border-radius: 30px 0 30px 0;}
 .services .services-item .item2{background: red;}

 /* ======================= Counter =========================== */
 .counter-section{background: #0081B4; padding: 30px 0 20px;}
 .counter-section .counter .count-items{display: flex; align-items: center; margin-bottom: 20px;}
 .counter-section .count{display: flex; flex-direction: column; color: #fff;}
 .counter-section .counter .count-items i{font-size: 50px; padding: 0 10px; color: #fff;}
 .counter-section .count p{font-size: 18px; font-weight: 600;}
 .counter-section .count .number{font-size: 40px; font-weight: 800; line-height: 40px;}

 /* ============================ Start Project ======================== */
 .start-project {background: #0081B4; }
 .start-project .hexagon{background: url("../images/hexagon.webp"); padding: 30px 0;}
 .start-project .items{display: flex; justify-content: space-around; color: #fff; align-items: center;}
 .start-project .items h3{margin: 0;}
 .start-project .items a{background: #282828; padding: 3px 20px; border-radius: 5px; color: #fff; text-decoration: none;}
 .start-project .items a:hover{text-decoration: underline;}
 .start-project .items img{padding: 7px;}

 /* =========================== Enquiry form  1 ============================== */
.enquiryform{background: url("../images/form-bg.webp"); padding: 50px 0; background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed;}
.enquiryform .left-item {color: #fff;}
form input, form select, form textarea{width: 100%; padding: 10px; border-radius: 7px; margin: 10px 0; background: transparent; border: 1px solid #fff; color: #fff; outline: none;}
form select option{color: #282828;}
form .sbmt-btn button{border: none; outline: none; width: 100%; padding: 7px; border-radius: 7px; font-size: 18px; background: #0081B4; color: #fff; border: 2px solid #0081B4; transition: .5s all;}
form .sbmt-btn button:hover{background: none; border: 2px solid #0081B4;}
.iti--separate-dial-code .iti__selected-dial-code{color: #fff;}
.iti__flag {background-image: url("../images/flags.webp");}
.iti__country-list{max-width: 270px;}
.iti{width: 100%;}
form .iti--allow-dropdown{margin: 10px 0;}
.modal-header{padding: 5px 20px;}
#myModal .btn-close{position: absolute; right: 10px; top: 5px; font-size: 12px;}
#myModal .modal-body{padding: 0;}
#myModal .modal-body .left-items{position: relative; display: block; height: 100%;}
#myModal .modal-body .left-items img{max-width: 100%; height: 100%; border-radius: 5px 0 0 5px;}
#myModal .modal-body .left-items img:nth-child(1){position: absolute; max-width: 50%; left: 25%; height: unset;}
#myModal .modal-body .right-items{position: relative; padding:15px 20px 15px 0; }
#myModal .modal-body .right-items form input, #myModal .modal-body .right-items form select, #myModal .modal-body .right-items form textarea{border: 1px solid #333; padding: 4px; color: #333}
#myModal .modal-body .right-items form select option{color: #333;}
#myModal .modal-body .right-items form .sbmt-btn button{background:#ff9200; border: 2px solid}
#myModal .modal-body .right-items form .sbmt-btn button:hover{background: #0081B4;}
#myModal .modal-dialog{max-width: 55%;}


/* ================================= Enquiry form 2 ============================= */
.services-dtl .enq-form form input, .services-dtl .enq-form form select, .services-dtl .enq-form form textarea{width: 100%; padding: 10px; border-radius: 7px; margin: 5px 0; background: transparent; border: 1px solid #ccc; color: #787878; outline: none;}
.services-dtl .enq-form form select{margin: 0;}
.services-dtl .enq-form form select option{color: #787878;}
.services-dtl .enq-form form .sbmt-btn button{border: none; outline: none; width: 100%; padding: 7px; border-radius: 7px; font-size: 18px; background: #0081B4; color: #fff; border: 2px solid #0081B4; transition: .5s all;}
.services-dtl .enq-form form .sbmt-btn button:hover{background: #ff9200; border: 2px solid #ff9200; color: #fff;}


/* ========================= What We Offer ================================ */

.our-offers{padding: 50px 0;}
.our-offers .content{text-align: center;}
.our-offers .content h2{font-weight: 800; font-size: 35px; font-family: 'Nunito Sans', sans-serif;}
.our-offers .items{box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 1%); border-radius: 5px; position: relative; text-align: center; background: #fff; padding: 10px; margin-top: 120px;}
.our-offers a{text-decoration: none;}
.our-offers .items img{width: 100%; height: 200px; object-fit: contain; position: absolute; top: -70px; left: 0;}
.our-offers .items .details{padding-top: 130px; padding-bottom: 20px;}
.our-offers .items .name{color: #0081B4; }
.our-offers .items p{color: #282828; }
.our-offers .items .price{font-size: 12px;}
.our-offers .items .description{display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; padding-top: 10px;}

/* ============================== Lead Generation ========================== */

.lead-generation{padding: 50px 0;}
.lead-generation p, .lead-generation ol li{font-size: 17px;}
.lead-generation ol li{letter-spacing: 1.2px;}
.lead-generation .heading{padding-bottom: 20px; text-align: center;}
.lead-generation .heading h2{font-weight: 800; font-size: 35px; font-family: 'Nunito Sans', sans-serif;}
.lead-generation .left img{max-width: 100%;}
.lead-generation h4{color: #3ea844; position: relative; margin: 0;}
.lead-generation h4.incorrect{color:red;}
.lead-generation h4 i{position: absolute; left: -60px; width: 50px; height: 50px; border-radius: 50%; border: 1px solid; display: flex; align-items: center; justify-content: center; font-size: 36px;}
.lead-generation .middle p, .lead-generation .right p, .lead-generation h4{margin-left: 50px;}
.lead-generation .middle p, .lead-generation .right p{font-size: 14px; margin-bottom: 15px;}
.lead-generation ul li{list-style: none; font-weight: 600; font-size: 18px; padding: 10px 0; margin-left: 18px; position: relative;}
.lead-generation .middle li::before{position: absolute; content: "\f00c"; font-family: "FontAwesome"; left: -40px; font-size: 20px; color: #3ea844;}
.lead-generation .right li::before{position: absolute; content: "\f00d"; font-family: "FontAwesome"; left: -40px; font-size: 20px; color: red;}


/* ===================== Why Shree Vinay Infotech ==================== */
.whyshreevinayinfotech{background: url(../images/why-shreevinayinfotech-bg.webp); background-size: cover; background-position: bottom; padding: 50px 0;}
.whyshreevinayinfotech h2{text-align: center; font-weight: 700;}
.whyshreevinayinfotech h2 span{color: #0081B4;}
.whyshreevinayinfotech .tagline p{background: url(../images/why-slog-tag.webp) no-repeat; background-position: center; text-align: center; padding: 20px 10px; color: #fff; font-size: 18px;}
.whyshreevinayinfotech .content{max-width: 80%; margin: 10px auto;}
.whyshreevinayinfotech .content p{padding-bottom: 20px;}

/* ===================== Call Section ==================== */
.call-section{background: #0081B4; color: #fff; position: relative; padding: 0 0 20px;}
.call-section::before{content: ''; background: url('../images/call-section-bg.webp') center center no-repeat; opacity: .03; width: 100%; height: 100%; position: absolute; left: 0; top: 0; display: block;}
.call-section .items{display: flex; align-items: center;justify-content: space-around; flex-wrap: wrap; position: relative;}
.call-section .items .callus, .call-section .items .emailus, .call-section .items .skypeus{text-align: center; line-height: .5; max-width: 33.33%;}
.call-section .items a{color: #fff; text-decoration: none; cursor: pointer;}

/* ==================== fOOTER ==================== */  
footer{background: url(../images/footer.webp) no-repeat; background-size: cover; background-attachment: fixed; padding: 50px 0 0; color: #fff; }
footer .footer-items .links li a, .contactus .left-items .social-links a{color: #fff; font-size: 13px; text-decoration: none; text-transform: capitalize; transition: .5s all;}
footer .footer-items .tittle{position: relative; margin-bottom: 20px;}
footer .footer-items .tittle::before{position: absolute; width: 50px; height: 2px; background: #fff; content: ""; bottom: -10px;}
footer .footer-items .links li a:hover{color: rgb(221, 221, 221); padding-left: 5px;}
footer .footer-items .links li{padding: 3px 0;}
footer .footer-items .social-links li i, .contactus .left-items .social-links li i{border-radius: 50%; width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; margin-right: 10px;}
footer .footer-items .social-links a, .contactus .left-items .social-links a{display: flex; align-items: center;}
footer .footer-items .social-links .facebook i, .social-links .facebook i{background: #1877F2;}
footer .footer-items .social-links .linkdin i, .social-links .linkdin i {background: #0A66C2;}
footer .footer-items .social-links .twitter i, .social-links .twitter i{background: #1DA1F2;}
footer .footer-items .social-links .instagram i, .social-links .instagram i{background: #E4405F;}
footer .footer-items .social-links .pinterest i, .social-links .pinterest i{background: #BD081C;}
footer .copyright{text-align: center; padding: 15px; background:#012752;}
footer .copyright a{color: #0081B4; text-decoration: none;}
footer .divider{margin: 0;}

/* =========================== About US Tab ========================= */

.bredcumb{background: url(../images/bredcrumb-bg.webp) no-repeat; background-attachment: fixed; background-size: cover; color: #fff; padding: 30px 0;}
.bredcumb h2{font-size: 35px;}
.bredcumb .items{display: flex; align-items: center;}
.bredcumb .items p{padding: 0 10px; color: #a0c8e2;}
.bredcumb .items a.active{padding-right: 10px; color: #fff; text-decoration: none;}

/* ==================== About US ======================= */
.aboutus, .our-services{padding: 20px 0;}
.aboutus img{width: 100%; height: 400px;object-fit: cover; border-radius: 10px; position: relative;}
.aboutus img::before{width: 150px; height: 150px;}
.aboutus .heading, .our-services .heading{color: #2b2b2b; border-bottom: 1px solid; padding-bottom: 4px;}
.aboutus .heading span, .our-services .heading span{color: #0081B4;}
.aboutus h2.heading, .our-services h2.heading{padding-top: 20px;}
.our-services p{padding: 5px 0;}

/* ========================= Our Process =================================== */
.our-process{padding: 20px 0 40px; background: #fbe8e8; margin-top: 30px; text-align: center;}
.our-process .heading{color: #282828; font-weight: 800; font-size: 35px; border-bottom: 2px solid; display: inline-block; padding-bottom: 3px;}
.our-process .description{text-align: justify;}
.our-process .items{background: #fff; padding: 30px; text-align: center; border-radius: 20px 0 20px 0; margin: 20px 0; box-shadow: 0 0 20px #28282828282837; height: 300px; transition: .3s all ease-in-out;}
.our-process .items p{text-align: justify; font-weight: 500;}
.our-process .items h2{color: #ff9200; font-weight: 700; font-size: 22px; border-bottom: 1px solid; display: inline-block; padding-bottom: 5px;}
.our-process .items:hover{background: #ecfffd; border-radius: 0 20px 0 20px;}

/* ======================== Services Page ========================= */
.services-dtl{padding: 50px 0;}
.services-dtl .enq-form{background: #f2f2f2; border: 1px solid #ccc; padding: 20px 10px;}
.services-dtl .left-items .side-course{padding: 30px 0 20px;}
.services-dtl .left-items .side-course ul li{}
.services-dtl .left-items .side-course ul li a{color: #fff; text-decoration: none; background: #0081B4; padding: 10px; margin: 10px 0; display: block; transition: .3s all; border-radius: 5px;}
.services-dtl .left-items .side-course ul li a:hover{background: #ff9200; color: #fff; padding-left: 15px;}
.services-dtl .right-items{background: #fff; padding:20px; border-radius: 20px; border: 1px solid #ddd;}
.services-dtl .right-items img{width: 100%; border: 2px solid #ccc; display: none}
.services-dtl .right-items .dtl p strong{ font-size: 25px; color: #0081B4 ; border-bottom: 1px solid;}
.services-dtl .right-items .dtl h1{color: #282828; padding: 30px 0 2px; font-weight: 800; font-size: 35px; border-bottom: 2px solid; padding-bottom: 4px;}
.services-dtl .right-items .dtl h5{font-weight: 700; }
.services-dtl .right-items .dtl p{padding: 7px 0;}
.services-dtl .left-items{position: sticky; top: 30px;}


/* ======================== Terms & Conditions ========================= */
.terms-conditions{margin: 40px 0;}
.terms-conditions .heading{color: #ff9200; text-decoration:underline;}
/* ======================== Contact Page ========================= */
.contactus{padding: 20px 0;}
.contactus .left-items{}
.contactus .left-items .items{background: #fff; box-shadow: 0 3px 6px #ccc; padding: 30px; margin: 20px 0; transition: .5s all; border-radius: 5px;}
.contactus .left-items .items:hover{transform: skew(1deg, 1deg);}
.contactus .left-items .items .heading{text-transform: uppercase; color:#ff9200; text-decoration: underline;}
.contactus .left-items .items .touch{padding: 7px 0; font-weight: 600; color: #ff9200;}
.contactus .left-items .items .touch a{font-weight: normal; text-decoration: none; color: #282828;}
.contactus .left-items .items .touch a:hover{text-decoration: underline;}
.contactus .left-items .items .location{display: flex; align-items: center; padding: 7px 0;}
.contactus .left-items .items .location span{padding-left: 20px; font-weight: 500;}
.contactus .left-items .items .location i{font-size: 20px; color:#ff9200; width: 40px; height: 40px; border-radius: 50%; border: 1px solid; display: flex; align-items: center; justify-content: center; transition: .4s all;}
.contactus .left-items .items .location:hover i{color: #fff; background: #0081B4; font-size: 15px;}
.contactus .right-items{margin: 20px 0;}
.contactus .right-items iframe{box-shadow: 0 3px 6px #ccc; transition: .5s all;}
.contactus .right-items iframe:hover{transform: skew(-1deg, -1deg);}
.contactform .form-item{background: url('../images/form-bg.webp') no-repeat; background-attachment: fixed; padding: 30px 150px 50px; border-radius: 10px; margin-bottom: 40px;}
.contactform .form-item .heading{text-transform: uppercase; color: #fff; padding-bottom: 10px;text-align: center; text-decoration: underline;}
.contactus .left-items .social-links a:hover{transform: rotate(360deg);}

/* ======================== Package Page ========================= */
.package, .paypage{padding: 40px 0;}
.package .package-item{background: #fff; border-radius: 5px; position: relative;}
.package .heading{text-align: center; text-decoration: underline; text-transform: uppercase; padding-bottom: 20px; color: #ff9200;}
.package .package-item .curve-item {position: absolute; top: 0; left: 0; right: 0; overflow:hidden;}
.package .package-item .curve-item::after{content: ''; position: absolute; width: 130px; height: 130px; border:20px solid rgba(255,255,255,.1); top: -35px; right: -30px; border-radius: 50%;}
.package .package-item .curve-item svg .svg-color{fill: #07249e; transition: .5s all;}
.package .package-item .curve-item svg{border-radius: 10px 10px 0 0; height: 247px;}
.package .package-item:hover .curve-item svg .svg-color{fill: #0081B4;}
.package .package-item .items{height: 100%; display: flex; align-items: center; justify-content: center;}
.package .package-item .item-name{color: #fff; position: relative; text-align: center; padding: 30px 0;}
.package .package-item .item-name p{font-size: 50px; font-weight: 600;}
.package .package-item .item-dtl{padding: 60px 60px 10px;}
.package .package-item .item-dtl li{border-bottom: 1px dotted #ff9200; padding: 5px 0; margin:5px 0;}
.package .package-item .item-dtl .yes{color: #43a047; margin-right: 10px;}
.package .package-item .item-dtl .no{color: #ff2828280; margin-right: 10px;}
.package .package-item .item-dtl .paynow{width: 100%; background: #1e3b70; text-align: center; border-radius: 30px; border-bottom: none; margin-top: 10px; transition: .5s all;}
.package .package-item .item-dtl .paynow:hover{background: #0081B4;}
.package .package-item .item-dtl .paynow a{color: #fff; text-decoration: none; padding:10px 70px;}


/* ============================== 404 Page ============================ */
.not-found-page{display: flex; align-items: center; justify-content: center; flex-direction: column; padding: 50px 0; background: #fff;}
.not-found-page img{padding-bottom: 20px; max-width: 100%;}
.not-found-page a{background: #ff9200; color: #fff; padding: 7px 40px; text-decoration: none; border-radius: 10px; transition: .5s all;}
.not-found-page a:hover{background: #0081B4;}

.whatsapp-float {position: fixed; background: #10b418; width: 60px; height: 60px; line-height: 60px; border-radius: 50%; text-align: center;  bottom: 20px; color: #fff; z-index: 999;}
.whatsapp-float a {color: #fff; width: 100%; height: 100%; display: block; font-size:35px; cursor: pointer;}
.whatsapp-float.left {left: 30px;}
.whatsapp-float.right {right: 35px;}

/* ================================ Pay Page ================================== */
.paypage .heading{text-align: center; text-decoration: underline; text-transform: uppercase; padding-bottom: 20px; color: #ff9200;}
.paypage .scanner{text-align: center;}
.paypage .scanner img{border: 1px solid;}

/* ============================== Thank You =============================== */
.thank-you{padding: 50px 0;}
.thank-you .thank-item{display: flex; align-items: center; justify-content: center; flex-direction: column;}
.thank-you img{max-width: 100%;}
.thank-you p{padding: 30px 0; text-align: center;}
.thank-you .thank-item span{text-align: center; margin-bottom: 20px;}
.thank-you .home a{padding: 8px 30px; background: #0081B4; transition: .5s all; border-radius: 30px; color: #fff; text-decoration: none;}
.thank-you .home a:hover{background: #0081B4;}

/* ========================= Media Quiry =============================== */
@media(max-width: 1280px){
.counter-section .heading{font-size: 25px; max-width: 62%;}
}

@media(max-width: 1024px) {
.contactus .right-items iframe{height: 510px;}
.counter-section .heading{font-size: 25px; max-width: 75%;}
.package .package-item .item-name p{font-size: 50px;}
}

@media(max-width: 991px){
.contactform .form-item{padding: 30px 10px;}
.contactus .right-items iframe{height: 550px;}
.counter-section{padding: 50px 0;}
.services-dtl .section-order{order: 1;}
.services-dtl .enq-form{margin: 15px 0 0;}
.services-dtl{padding: 30px 0 0;}
.package .package-item .item-name p{font-size: 40px;}
#myModal .modal-body .left-items{display: none;}
#myModal .modal-body .col-sm-6:nth-child(2){width: 100%;}
#myModal .modal-body .right-items .col-sm-6{width: 100%;}
#myModal .modal-body .right-items{padding: 25px; background: #e1fffc;}
#myModal .modal-dialog{max-width: 100%;}
}

@media(max-width: 800px){
  
}

@media(max-width: 767px){
  .contactus .right-items iframe{height: 250px;}
  .start-website{max-width: 100%;}
  .header1 .items .mobilebar{display: flex; align-items: center; padding-right: 50px;}
  .header1 .items .mobile-form .modal-header{border: none;}
  .header1 .items .mobile-log-items i{font-size: 25px; font-weight: 800;}
  .header1 .items .mobile-log-items li{padding: 10px 15px; color: #000; box-shadow: 0 0 3px 0px #b5b5b5;}
  .header1 .items .mobile-log-items li i{font-size: inherit; color: #1e3b70;}
  .header1 .items .form-item{display: none;}
  .header1 .items .mobile-form {display: block; margin-left: 20px;}
  .header1 .items .mobile-form i{font-size: 25px; font-weight: 800;}
  .header1 .items .mobile-form form button{right: 0; padding: 8px;}
  .f-mobile-menu{ display: flex;  position: fixed; bottom: 0; left: 0; width: 100%; background: #fff; text-align: center; box-shadow: 0 0 10px rgb(0 0 0 / 30%); z-index: 2;}
  .navigation{display: none;}
  .whatsapp-float{display: none;}
  .slider-section .col-lg-5{order: 1;}
  .slider-section .left-item h2, .slider-section .left-item h3{font-size: 22px;}
  footer{padding-bottom: 50px;}
  .f-mobile-menu .dropdown li{padding: 10px 15px; color: #000; box-shadow: 0 0 3px 0px #b5b5b5;}
  .f-mobile-menu .dropdown li i{color: #1e3b70;}
  .f-mobile-menu > *{flex: 1; padding: 10px 0;}
  .f-mobile-menu i{font-size: 20px; margin-bottom: 5px;}
  .f-mobile-menu a{text-decoration: none; color: #000;}
  .f-mobile-menu span{display: block; color: #666; font-size: 12px; line-height: 12px;}
  .counter-section .counter .count-items{justify-content: center;}
  .counter-section .counter .count-items p:nth-child(1){width: 50px;}
  .counter-section .count{padding-left: 50px; width: 300px;}
  .header1 .login-item{display: none;}
  .header1 .mobile-log-items{display: block; }
  .start-project .items{flex-wrap: wrap; text-align: center;}
  .start-project .items h3 {margin-bottom: .5rem;}
  .package .package-item{margin: 20px 0;}
}

@media(max-width: 650px){
  .top-strip .right-items .top-calback .bg-img{display: none;}
  .top-strip .left-items .items{display: none;}
  .top-strip .left-items .items:first-child, .top-strip .left-items .items:nth-child(3) {display: block;}
  .start-website .heading{font-size: 25px;}
  .services .heading{font-size: 25px;}
  .services{padding: 30px 0;}
  .top-strip{max-width: 75%; border-radius: 0 30px 30px 0;}
  .call-section .items .callus, .call-section .items .emailus, .call-section .items .skypeus{width: 50%; max-width: 100%;}
}

@media(max-width: 480px){
  .top-strip .left-items .items:nth-child(3){display: none;}
  .header1 .items .mobile-form form input{width: 85%; left: 10%;}
  .header1 .items .mobilebar{padding: 0;}
  .header1 .items .logo img{max-width: 75%;}
  .slider-section .clicks{display: flex; flex-wrap: wrap;}
  .slider-section .clicks a{margin: 7px auto;}
  .slider-section .clicks{padding: 0;}
  .slider-section .clicks .plan{margin: auto;}
  .call-section .items .callus, .call-section .items .emailus, .call-section .items .skypeus{width: 100%; max-width: 100%;}
}




.blog-slider{padding: 50px 0;}
.blog-slider .heading{text-align: center; padding: 0 0 5px; position: relative; font-weight: 800; color: #282828}
.blog-slider .heading::before{position: absolute; content: "" ; bottom: -5px; width: 100px; height: 3px; background:#282828; }
.blog-slider figure img{width: 100%; height: 200px; object-fit: cover;}
.blog-slider .slider{margin-top: 40px}
.blog-slider .slider a{text-decoration: none;}
.blog-slider .slider .item{background: #fff; padding: 10px 10px 30px; box-shadow: 0 0 37px #00000037; border-radius: 10px;}
.blog-slider .title{padding: 15px 0; height: 85px; display: -webkit-box; color: #044ca5; -webkit-line-clamp:3; -webkit-box-orient:vertical; overflow: hidden;}
.recent-blog .heading{text-align: center; color: #fff; padding: 40px 0 4px; margin-bottom:30px ; font-weight: 800; font-size: 35px; position: relative;}
.recent-blog .heading::before{position: absolute; content: "" ; bottom: -5px; width: 100px; height: 3px; background:#fff; }
.recent-blog .backround{width: 100%; height: 250px; background: #0081B4; margin-top: 40px; background-image: url(../images/hexagon.webp);}
.recent-blog .blog-items{margin-top: -100px;}
.recent-blog .blog-items .items{margin-bottom: 25px;}
.recent-blog .blog-items .items figure img{width: 100%; height: 250px; object-fit: cover;}
.recent-blog .blog-items .items{padding: 10px; background: #fff; }
.recent-blog .blog-items .items p{padding: 15px 0 0}
.recent-blog .blog-items .items .readmore{margin:15px 5px; text-align: center;}
.recent-blog .blog-items .items .readmore a{border: 1px solid; padding:10px 30px; margin: 20px 0; border-radius: 30px; text-decoration: none; color: #2b2b2b; transition: .3s all ease-in-out;}
.recent-blog .blog-items .items .readmore a:hover{background:#2b2b2b; color:#fff; }
.blogs .items img{width: 100%; height: 200px; object-fit: cover;}
.blogs .items .title{padding: 15px 0; height: 85px; display: -webkit-box; color: #044ca5; -webkit-line-clamp:3; -webkit-box-orient:vertical; overflow: hidden;}
